@model ProlabWeb.Db.Entetefacture

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Entetefacture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entetefactureid" />
            <div class="form-group">
                <label asp-for="Entetedemandeid" class="control-label"></label>
                <select asp-for="Entetedemandeid" class="form-control" asp-items="ViewBag.Entetedemandeid"></select>
                <span asp-validation-for="Entetedemandeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caisseid" class="control-label"></label>
                <select asp-for="Caisseid" class="form-control" asp-items="ViewBag.Caisseid"></select>
                <span asp-validation-for="Caisseid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Utilisateurid" class="control-label"></label>
                <select asp-for="Utilisateurid" class="form-control" asp-items="ViewBag.Utilisateurid"></select>
                <span asp-validation-for="Utilisateurid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
