@model ProlabWeb.ViewModels.RecetteParPeriodeVM
@{
    ViewData["Title"] = "Recette périodique";
}

<div class="grid grid-cols-2 gap-5">
    <div>
        <h1 class="font-bold">Recette périodique</h1>
    </div>
</div>
<div class="flex items-center gap-2 mb-5">
    <span class="border-t border-border border-primary w-full"></span>
</div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<div class="min-w-full mb-5">
    <form asp-action="RecetteParPeriode" method="post" class="flex flex-col gap-5">
        <div class="grid grid-cols-3 gap-5 mt-5">
            <div class="flex flex-col gap-3">
                <label class="kt-form-label text-mono" asp-for="Debut">Date de début</label>
                <input class="kt-input" asp-for="Debut" type="date" placeholder="jj/mm/aaaa" />
                <span asp-validation-for="Debut" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-3">
                <label class="kt-form-label text-mono" asp-for="Fin">Date de fin</label>
                <input class="kt-input" asp-for="Fin" type="date" placeholder="jj/mm/aaaa" />
                <span asp-validation-for="Fin" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-3">
                <label class="kt-form-label text-mono" asp-for="TypeClient"></label>
                <select class="kt-select" asp-for="TypeClient">
                    <option value="">---</option>
                    <option value="payant">Clients payants</option>
                    <option value="assurance">Assurances</option>
                </select>
                <span asp-validation-for="TypeClient" class="text-red-500"></span>
            </div>
        </div>
        <div class="flex gap-5 mt-5">
            <button type="button" id="btnRecherche" class="kt-btn kt-btn-primary">
                <span class="material-symbols-outlined">search</span> Rechercher
            </button>
        </div>
    </form>
</div>

<!-- Loader Spinner -->
<div id="loader-spinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Chargement...</span>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/app/rapport/recetteparperiode.js"></script>
}
