@model ProlabWeb.ViewModels.TitreRecetteClientPayantVM
@{
    ViewData["Title"] = "Titre de recette client payant";
}

<div class="grid grid-cols-2 gap-5 mb-5">
    <div>
        <h1 class="font-bold">Titre de recette client payant</h1>
    </div>
</div>
<div class="flex items-center gap-2 mb-5">
    <span class="border-t border-border border-primary w-full"></span>
</div>

<div class="min-w-full mb-5">
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-info mb-5">
            @ViewBag.Message
        </div>
    }

    <form asp-action="TitreRecetteClientPayant" method="post" class="flex flex-col gap-5">
        <div class="grid grid-cols-2 gap-5 mt-5">
            <div class="flex flex-col gap-3">
                <label asp-for="Debut" class="kt-form-label text-mono"></label>
                <input asp-for="Debut" type="date" class="kt-input" placeholder="jj/mm/aaaa" />
                <span asp-validation-for="Debut" class="text-red-500"></span>
            </div>
            <div class="flex flex-col gap-3">
                <label asp-for="Fin" class="kt-form-label text-mono"></label>
                <input asp-for="Fin" type="date" class="kt-input" placeholder="jj/mm/aaaa" />
                <span asp-validation-for="Fin" class="text-red-500"></span>
            </div>
        </div>
        <div class="flex gap-5 mt-5">
            <button type="button" id="btnRecherche" class="kt-btn kt-btn-primary">
                <span class="material-symbols-outlined">search</span> Rechercher
            </button>
        </div>
    </form>
</div>

<div id="loader-spinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Chargement...</span>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/app/rapport/titrerecetteclientpayant.js"></script>
}
