@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Réinitialiser le mot de passe";
}
<div class="grid grid-cols-2 gap-5 mb-2">
    <div>
        <h1 class="font-bold">Réinitialiser le mot de passe</h1>
    </div>
    @* <div class="text-end">
        <a asp-page="/Account/Login" class="text-primary">Retour à la connexion</a>
    </div> *@
</div>
<div class="flex items-center gap-2 mb-4">
    <span class="border-t border-border border-primary w-full"></span>
</div>
<div class="min-w-full mb-5">
    <form method="post" class="flex flex-col gap-5 max-w-lg mx-auto">
        <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="flex flex-col gap-3">
            <label class="kt-form-label text-mono" asp-for="Input.Email">Nom d'utilisateur</label>
            @if (Model.IsMandatoryChange)
            {
                <input class="kt-input bg-gray-100" asp-for="Input.Email" placeholder="Entrer votre Nom d'utilisateur" autocomplete="username" aria-required="true" readonly>
                <span class="text-gray-500 text-xs">Votre nom d'utilisateur est pré-rempli car vous devez changer votre mot de passe.</span>
            }
            else
            {
                <input class="kt-input" asp-for="Input.Email" placeholder="Entrer votre Nom d'utilisateur" autocomplete="username" aria-required="true">
            }
            <span asp-validation-for="Input.Email" class="text-red-500"></span>
        </div>
        <div class="flex flex-col gap-3">
            <label class="kt-form-label text-mono" asp-for="Input.Password">Nouveau mot de passe</label>
            <input class="kt-input" asp-for="Input.Password" placeholder="Entrer le nouveau mot de passe" autocomplete="new-password" aria-required="true">
            <span class="text-gray-400 text-xs">Utilisez 6 caractères ou plus avec un mélange de lettres, chiffres et symboles.</span>
            <span asp-validation-for="Input.Password" class="text-red-500"></span>
        </div>
        <div class="flex flex-col gap-3">
            <label class="kt-form-label text-mono" asp-for="Input.ConfirmPassword">Confirmer le nouveau mot de passe</label>
            <input class="kt-input" asp-for="Input.ConfirmPassword" placeholder="Confirmer le nouveau mot de passe" autocomplete="new-password" aria-required="true">
            <span asp-validation-for="Input.ConfirmPassword" class="text-red-500"></span>
        </div>
        <div class="flex justify-end mt-6 space-x-3">
            <button class="kt-btn kt-btn-primary" type="submit">Réinitialiser</button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
