@model ProlabWeb.Db.Profil

@{
    ViewData["Title"] = "Créer un profil";
}

<div class="grid grid-cols-2 gap-5">
    <div>
        <h1 class="font-bold">Création d'un profil</h1>
    </div>
    <div class="text-end">
        <a asp-action="Index" class="text-primary">Retour à la liste</a>
    </div>
</div>
<div class="flex items-center gap-2">
    <span class="border-t border-border border-primary w-full"></span>
</div>

<div class="min-w-full mb-5">
    <form asp-action="Create" class="flex flex-col gap-5" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        <div class="grid grid-cols-2 gap-10">
            <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-3">
                    <label class="kt-form-label text-mono" asp-for="Profilid"></label>
                    <input class="kt-input" asp-for="Profilid" placeholder="" type="text">
                    <span asp-validation-for="Profilid" class="text-red-500"></span>
                </div>
                <div class="flex flex-col gap-3">
                    <label class="kt-form-label text-mono" asp-for="Nom"></label>
                    <input class="kt-input" asp-for="Nom" placeholder="" type="text">
                    <span asp-validation-for="Nom" class="text-red-500"></span>
                </div>
                <label class="kt-checkbox-group kt-form-label text-mono">
                    <input class="kt-checkbox kt-checkbox-sm" asp-for="Isactive" type="checkbox">
                    <span class="kt-checkbox-label">
                        @Html.DisplayNameFor(model => model.Isactive)
                    </span>
                </label>
            </div>
        </div>
        <div class="inline-flex justify-start grow">
            <button type="submit" class="kt-btn kt-btn-primary">
                <span class="material-symbols-outlined">
                    save
                </span> Enregistrer
            </button>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
